.search-box {
    margin: 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
}

.search-box .search-form {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.search-box .search-form input {
    margin: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}