@import url('https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css');

.modal-map-container {
    margin: 0;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    grid-column: 1/3;
}

.modal-map-container .modal-map-set-long-lat {
    margin: 0;
    padding: 0;
}

.modal-map-container .modal-map-set-long-lat form {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-map-container .modal-map-set-long-lat form input {
    margin: 0;
    padding: 10px 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.modal-map-container .modal-map-set-long-lat form input:focus,
.modal-map-container .modal-map-set-long-lat form input:active {
    border: 1px solid black;
}

.modal-map-container .modal-map-set-long-lat form button {
    margin: 0;
    padding: 5px 5px;
    width: 50px;
    height: 36px;
    box-sizing: border-box;
    background-color: darkgreen;
    color: white;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 5px;
    margin-left: 5px;
}

.modal-map-container .modal-map-set-long-lat form button:hover,
.modal-map-container .modal-map-set-long-lat form button:active {
    background-color: green;
    cursor: pointer;
}

.modal-map-container .modal-map {
    margin-top: 10px;
    border: 1px solid blue;
    width: 100%;
    height: 500px;
}