.form-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container .update-form {
    margin: 0;
    padding: 10px;
    display: grid;
    column-gap: 10px;
}

.form-container .update-form .form-group {
    margin: 0;
    padding: 0.2rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 0.025rem;
}

.form-container .update-form .form-group input {
    width: 100%;
    outline: 0;
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container .update-form .form-group input:focus,
.form-container .update-form .form-group input:active {
    outline: 0;
    border: 1px solid darkgreen;
}

.form-container .update-form #ptype-group label::after{
    content: '*';
}

.form-container .update-form #subtype-group label::after{
    content: '*';
}

.form-container .update-form #name-group,
.form-container .update-form #building-market-group {
    grid-column: 1/7;
}

.form-container .update-form #holding-group,
.form-container .update-form #super-sub-area-group,
.form-container .update-form #city-group,
.form-container .update-form #district-group,
.form-container .update-form #popularity-ranking-group {
    grid-column: 1/3;
}

.form-container .update-form #road-group {
    grid-column: 3/7;
}

.form-container .update-form #sub-area-group,
.form-container .update-form #post-code-group,
.form-container .update-form #sub-district-group,
.form-container .update-form #upload-images-group {
    grid-column: 3/5;
}

.form-container .update-form #area-group,
.form-container .update-form #thana-group,
.form-container .update-form #union-group {
    grid-column: 5/7;
}

.form-container .update-form #ptype-group {
    grid-column: 1/4;
}

.form-container .update-form #subtype-group {
    grid-column: 4/7;
}

.form-container .update-form button[type=submit] {
    margin-top: 10px;
    padding: 5px 10px;
    height: 30px;
    background-color: darkgreen;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    grid-column: 6/7;
    box-sizing: border-box;
}

.form-container .update-form button[type=submit]:hover,
.form-container .update-form button[type=submit]:active {
    background-color: green;
    cursor: pointer;
}